<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/public/form.css">
    </head>
    <body>
        <h1>Admin Form</h1>
        <h2>Food Ordering Service</h2>
        <form method="POST" action="/admin_post">
            <label>Email:</label><br>
            <input type="text" name="email"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br>
            <input type="submit">
        </form>
        <a href="/" id="backk" >Back</a>
    </body>
</html>