<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/public/form.css">
    </head>
    <body>
        <h1>FORM</h1>
        <h2>Food Ordering Service</h2>
        <form method="POST" action="/shop">
            <label>Username:</label><br>
            <input type="text" name="name"><br>
            <label>Email:</label><br>
            <input type="text" name="email"><br>
            <label>Password:</label><br>
            <input type="password" name="passwordd"><br>
            <label>Phone:</label><br>
            <input type="text" name="number"><br><br>
            <input type="submit">
        </form>
        <a href="/admin" id="admin">Admin Login</a>
    </body>
</html>